@font-face {
  font-family: "Museo";
  font-weight: 300;
  src: url("assets/fonts/Museo.eot?") format("eot"),
  url("assets/fonts/Museo.woff2") format("woff2"),
  url("assets/fonts/Museo.woff") format("woff"),
  url("assets/fonts/Museo.ttf") format("truetype")
}
